@import "@/styles/root.scss";
.fixtureMain {
  margin: auto;
  margin-top: 2rem;

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      h1 {
        font-size: 96px;
        font-weight: 100;

        @include mobile {
          font-size: 50px;
        }
      }
    }
  }

  //   tabs
  .tabsWrapper {
    width: 50%;
    margin: auto;
    max-height: 75vh;
    overflow-y: scroll;
    @include tablet {
      width: 90%;
    }
    .tabsContainer {
      display: flex;
      margin-bottom: 20px;

      .tab {
        padding: 10px;
        cursor: pointer;
        border: 1px solid #868282;
        border-radius: 4px;
        margin-right: 10px;
        flex: 1;
        text-align: center;

        &.tabActive {
          background-color: blue;
          color: #fff;
        }
      }
    }
    .tabContent {
      margin-top: 20px;
      .tabButton {
        padding: 1rem;
        background-color: blue;
        color: #fff;
        outline: none;
        border: none;
        transition: all 0.5s ease-out;
        border-radius: 5px;
        margin-top: 5px;
        width: fit-content;
        &:hover {
          background-color: rgb(203, 203, 209);
          color: #000;
        }
      }
    }
  }
}

.cardWrapper {
  color: #1b1464;
  margin-bottom: 1.4rem;

  p {
    padding: 0;
    height: fit-content;
    width: fit-content;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-bottom: 0.3rem;
  }
  .cardMain {
    text-transform: capitalize;
    .cardHeader {
      font-family: fantasy;
      margin-bottom: 0;
      font-size: 1.3rem;
      padding: 0.6rem;
      background-color: #ffffff;
      @include mobile {
        font-size: 0.9rem;
      }
    }
    .cardBody {
      padding: 1rem;

      background-color: #e0e8e9;
      font-size: 1.3rem;

      @include mobile {
      }

      small {
        font-size: 2rem;
      }
      h3 {
        text-align: end;
        font-size: 0.8rem;
        background-color: blue;
        color: #fff;
        width: max-content;
        text-transform: uppercase;
        padding: 5px;
      }
      .gameInfo {
        display: flex;
        align-items: flex-start;

        @include mobile {
          flex-direction: column;
          align-items: center;
          gap: 1rem;
        }

        .teams {
          font-weight: 600;
          text-transform: uppercase;
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 1.5rem;
          gap: 1rem;
          @include tablet {
            align-items: center;
            justify-content: space-between;
            border: 1px solid black;
            width: 100%;
          }

          .scorerContainer1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
              @include tablet {
                font-size: 0.9rem;
              }
            }
          }
          .scorerContainer2 {
            display: flex;
            flex-direction: column;
            align-items: end;
            div {
              @include tablet {
                font-size: 0.9rem;
                align-items: start;
              }
            }
          }
        }

        .info {
          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

.infoContainer {
  text-transform: uppercase;
  background-color: #e0e8e9;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  color: black;
}

.label {
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: "uppercase";
  text-align: "center";
  margin-bottom: "5px";
  text-transform: uppercase;
}

.shootout-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-self: center;
}
