html {
  scroll-snap-type: y mandatory;
  /* scroll-behavior: smooth !important; */
  /* scroll-behavior: smooth; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  user-select: none;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}



button{
   cursor: pointer;
}


#Fixtures,#Contact{
  background-color: #B0C4DE;
  background-image: linear-gradient(180deg, #B0C4DE 0%, #acc3e1 100%);
  
}