@import "@/styles/root.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-inline: 5rem;

    @include desktop {
      justify-content: flex-end;
    }
    @include mobile {
      padding: 20px;
    }

    span {
      font-weight: bold;
      font-size: 1.2em;
      margin-left: 2rem;
      margin-top: 10px;
    }

    .social {
      display: flex;
      gap: 20px;
    }
  }
}
