@import "@/styles/root.scss";

.navbar {
  background-color: #00308f;
  height: 100px;
  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-inline: 5rem;

    @include mobile {
      padding: 20px;
    }

    span {
      font-weight: bold;
      font-size: 1.2em;
      margin-left: 2rem;
      margin-top: 10px;
    }

    .social {
      display: flex;
      gap: 20px;
      .image {
        -webkit-filter: grayscale(1) invert(1);
        filter: grayscale(1) invert(1);
      }
    }
  }
}
