@import "@/styles/root.scss";
.gallery {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: 100%;
    }

    h1 {
      font-size: 96px;
      font-weight: 100;
      text-transform: uppercase;
      text-align: center;
      color: white;

      @include mobile {
        font-size: 40px;
      }
    }
  }
  .image-container {
    width: 80%;
    margin: auto;
    @include mobile {
      margin-top: 5rem;

    }
    .image-gallery-slide img {
      height: 550px;
      @include mobile {
        height: auto;
      }
    }
  }
}
